.grid {
  width: 80%;
  margin: auto;
}
.grid-sizer,
.grid-item {
  width: 100%;
  cursor: pointer;
}

@media only screen and (min-width: 252px) {
  .grid-sizer,
  .grid-item {
    width: 45%;
  }
}

@media only screen and (min-width: 320px) {
  .grid-sizer,
  .grid-item {
    width: 28%;
  }
}

@media only screen and (min-width: 712px) {
  .grid-sizer,
  .grid-item {
    width: 31%;
  }
}

@media only screen and (min-width: 937px) {
  .grid-sizer,
  .grid-item {
    width: 23%;
  }
}

.grid-item {
  margin-bottom: 15px;
  border-radius: 20px;
  overflow: hidden;
}
.grid-item img {
  display: block;
  min-width: 100%;
  max-width: 100%;
}
